html {
    height: 100%;
    display: flex;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    justify-content: space-between;
    align-items: center;
    color: white;

    background: #303030;
    padding: 10px;
}

header > *, a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.header-name {
    font-size: 22px
}

.header-link {
    font-size: 30px;
    margin: 0 10px;
}

h1 {
    font-size: 50px;
}

p {
    font: 18px sans-serif;
}

.home-page {
    text-align: center;
    margin: auto;
}

body {
    background: linear-gradient(to top right, #e66465, #9198e5);
    max-width: 800px;
    margin: 40px auto;
}
